<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
      integrity="sha384-XXXXXXXX" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-XXXXXXXX"
        crossorigin="anonymous"></script>-->

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.js"></script>

<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<body>
<div class="container">
  <div class="col-md-12">
    <div class="row">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</body>
</html>